/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}

/* Regole header */

#logo,nav{
    padding-top: 1%;
}

#top-pannel{
    background-color: #0084fd;
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
   
}
#top-pannel .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#top-pannel ul {
    display: flex;
    list-style: none;
}
li{
    padding: 5px 10px;
    margin-right: 10px;
}


#dekstop-menu{
    display: flex;
}

#top-pannel a {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    border-radius: 14px;
    padding: 1% 0%;
     }

#top a{
    color: black;
    font-size: 13px;
    padding: 6px;
}

#mobile-menu{
     padding: 5px 10px;
     color: white;
     font-size: 30px;
     display: none;

}

/* Regole Responsive Header Tablet */

@media  all and (max-width: 768px) {
    #dekstop-menu{
        display: none;

    }
    #mobile-menu{
        display: block;
    }
    
}

/*Regole Main  */

main {
    margin-top:150px ;
 }

 .card.big{
   width: calc(100%/3*2);
 }
 section{
    margin: 50px 0;
    padding: 60px 0;
}

.block{
    display: flex;
    flex-wrap: wrap;
    /* debug */
    background-color: cornflowerblue ;
    min-height: 600px;
}

.card{
    width: calc(100% / 3);
    background-color: #6d8599;
    /* debug */
    border: 1px solid black;
    min-height: 120px;
}



.full{
    background-color: #9792e4;
}

.full-bg .planning{
    display: flex;
    justify-content: space-between;
}

.full-bg.different{
    padding: 0 125px;
}

.full-bg .col img{
    /* debug */
    height: 380px;
}

.center{
    text-align: center;
}

.feedback{
    background-color: #9792e4;
    margin: 50px 0;
    border: 1px solid #9792e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* debug */
    min-height: 300px;
}

.feedback img{
    border-radius: 50%;
    width: 250px;
    
}

.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* debug */
    min-height: 700px;
}

.benefit{
    width: calc(100% / 3);
    background-color: #fff;
    /* debug */
    min-height: 250px;
    border: 1px solid black;
}

.about{
    display: flex;
    justify-content: space-between;
}

/* regole footer */
footer{
    background-color: #333333;
    color: #fff;
}


/* Regole Responsive prima sezione  */

@media screen and (max-width:768px) {
   
  
    
}

/* Regole Responsive Smartphone */
@media all and (max-width:480px) {
    .block{
        display: block;
    }
    .card , .card.big{
        width: 100%;
        display: block;
    }
    
}


  