/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}


/* Regole header */

#logo,nav{
    padding-top: 1%;
    
}

#top-pannel{
    background-color: #0084fd;
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
   
}
#top-pannel .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#top-pannel ul {
    display: flex;
    list-style: none;
}
li{
    padding: 5px 10px;
    margin-right: 10px;
}


#dekstop-menu{
    display: flex;
}

#top-pannel a {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    border-radius: 14px;
    padding: 1% 0%;
     }

#top a{
    color: black;
    font-size: 13px;
    padding: 6px;
}

#mobile-menu{
     padding: 5px 10px;
     color: white;
     font-size: 30px;
     display: none;

}




  /*Regole Main  */

  main {
     margin-top:150px ;
  }
/* Regole Prima sezione */
  .block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    
  }
  .card{
    width: calc(100% / 3 - 40px);
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 0 20px 20px 20px;
    padding: 30px;
    
}

.card.big{
    width: calc((100% / 3 - 20px) * 2);
    display: flex;
}

.card.big div{
    width: 50%;
}

.card.big p{
    margin: 40px 0;
}

.card.big a{
    color: #fff;
    background-color: #0084fd;
}

.card h3{
    color: #0084fd;
    margin: 30px 0;
}

.card.big img{
    height: 270px;
    padding: 0 50px;
    position: relative;
    top: 25%;
}

.card .big-icon{
    font-size: 80px;
    color: #0084fd ;
}

#apple {
    padding: 6px 60px;
    text-align: -moz-right;
    font-size: 16px;
    font-weight: bold;
  }
/* Regole seconda sezione */

.full{
    background-color: #9792e4;
}

.full .planning{
    display: flex;
    justify-content: space-between;
}

.full.different{
    padding: 160px 125px;
}


.center{
    text-align: center;
}

.feedback{
    background-color: #9792e4;
    margin: 50px 0;
    border: 1px solid #9792e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* debug */
    min-height: 300px;
}

.feedback img{
    border-radius: 50%;
    width: 250px;
    
}

.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* debug */
    min-height: 700px;
}

.benefit {
    width: calc(100% / 3 - 40px);
    background-color: #fff;
    min-height: 250px;
    border-radius: 25px;
    margin: 20px 20px 20px 20px;
  }
.about{
    display: flex;
    justify-content: space-between;
}

#intext{
    width: 60%;
    border: 1px solid black;
}
#male{
    width: 40%;
    border: 1px solid black;

}
#male img{
    width: 100%;
    border-radius: 50%;
}


/* regole footer */
footer{
    background-color: #333333;
    color: #fff;
}

  /* Regole Responsive Header Tablet */

@media  all and (max-width: 768px) {
    #dekstop-menu{
        display: none;

    }
    #mobile-menu{
        display: block;
    }
    /* Regole responsive prima sezione */
    
   .card.big{
    display: block;
    right: 75px;
   }
   .card.big div{
    width: 100%;
   }
   #apple{
    margin: 0% 20%;
   }
  /*Regole responsive seconda sezione  */
  .full .col img {
    width: 100%;
  }
  .full .planning{
    display: block;
}
  /*Regole Responsive terza Sezione  */


  /* Regole Responsive quarta sezione */
  
  .benefit {
    width: calc(100%/2 - 30px);
    background-color: #fff;
    min-height: 250px;
    border-radius: 25px;
    margin: 20px 20px 20px 0px;
    margin: 10px 51px;
    margin: 10px;
  }
}

  
   
/* Regole Responsive Smartphone */
@media screen and (max-width:480px) {
    .block{
        display: block;
    }
    .card , .card.big{
        width: 100%;
        display: block;
    }
    .card h3 {
        color: #0084fd;
        margin: 30px 65px;
      }
      .card.big p {
        margin: 40px 70px;
      }
      .card.big img {
       
        padding: 0px 65px;
       }
       #apple{
        margin: 0% 23%;
       }
        /*Regole responsive seconda sezione  */

    .full .planning{
        display: block;
    }
      /*Regole Responsive terza Sezione  */
    
      .feedback{
        display: block;
        text-align: center;
    }
    /* Regole Responsive quarta sezione */
    .benefits{
        display: block;
    }
    .benefit{
        margin-left: 95px;
    }
    /* Responsive quinta sezione */
    .about{
        display: block;
        text-align: center;
    }
}