/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}

h2{
    font-size: 35px;
}


/* Regole header */

#logo,nav{
    padding-top: 1%;
    
}

#top-pannel{
    background-color: #0084fd;
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
   
}
#top-pannel .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#top-pannel ul {
    display: flex;
    list-style: none;
}
li{
    padding: 5px 10px;
    margin-right: 10px;
}


#dekstop-menu{
    display: flex;
}

#top-pannel a {
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    border-radius: 14px;
    padding: 1% 0%;
     }

#top a{
    color: black;
    font-size: 13px;
    padding: 6px;
}

#mobile-menu{
     padding: 5px 10px;
     color: white;
     font-size: 30px;
     display: none;

}

.center h3{
    padding: 20px 0px;
}

.center h2{
    padding: 20px 0px;
}




  /*Regole Main  */

  main {
     margin-top:150px ;
  }
/* Regole Prima sezione */
  .block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    
  }
  .card{
    width: calc(100% / 3 - 40px);
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 0 20px 20px 20px;
    padding: 30px;
    
}

.card.big{
    width: calc((100% / 3 - 20px) * 2);
    display: flex;
}

.card.big div{
    width: 50%;
}

.card.big p{
    margin: 40px 0;
}

.card.big a{
    color: #fff;
    background-color: #0084fd;
}

.card h3{
    color: #0084fd;
    margin: 30px 0;
}

.card.big img{
   max-height: 270px;
    padding: 0 50px;
    position: relative;
    top: 34%;
}

.card .big-icon{
    font-size: 80px;
    color: #0084fd ;
}

#apple {
    padding: 6px 30px;
    font-size: 16px;
    font-weight: bold;
  }
/* Regole seconda sezione */

.full{
    background-color: #9792e4;
}

.full .planning{
    display: flex;
    justify-content: space-between;
}

.full.different{
    padding: 110px 125px;
}

.planning{
    width: 80%;
    margin: auto;
}

.center{
    text-align: center;
}

.left img , .left p , .left h3{
max-width: 400px;
}

.left h3{
   margin: 50px 0px;
   font-size: 35px;
}
.right img ,.right p , .right h4{
max-width: 200px;
margin: 16px 0px;
}

.right p{

    font-style: italic;

}
.right {
    background-color: white;
    padding: 65px 70px;
    border-radius: 30px;
    margin: 160px 20px 0px 20px;
  
  }
.white{
    color: white;
}

.explanation{
    font-size: 13px;
}

#arrow {
    background-color: #9792e4;
    border-radius: 50%;
    text-align: center;
    max-width: 50px;
    margin-left: 75px;
    font-size: 30px;
  }
  .color{
    color: #9792e4;
    

  }

  .feedback-container{

    position: relative;
  }
  .quote {
    font-size: 40px;
  }
  
  .cit{
    width: 83%;
    margin-left: 45px;
    margin-bottom: 30px;
  }
  
.person{
    margin: 0px 40px;
}
  .feedback img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 25px;
}
.feedback{
    background-color: #9792e4;
    margin: 50px 0;
    border: 1px solid #9792e4;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* debug */
    min-height: 300px;
}

.title-benefit{
    padding: 40px 0px;
}
.benefits{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}

.benefit {
    width: calc(100% / 3 - 40px);
    background-color: #fff;
    min-height: 250px;
    border-radius: 25px;
    margin: 20px 20px 10px 20px;
  }
.about{
    display: flex;
    
}

.color-2{
    background-color: #9792e4;
    padding: 7px 30px;
}
button a{
    color: white;
}

.benefit h2, .benefit h4 , .benefit p , .benefit button{
margin: 15px;
}

#intext{
   width: 70%;
 
}
#male{
   
   width: 30%;
   margin-left: 65%;

}
#male img{
    width: 100%;
    border-radius: 50%;
}


/* regole footer */
footer{
    background-color: #333333;
    color: #fff;
}

/* Responsive intermedio */
@media screen and (max-width:900px ){
    #apple {
        padding: 3% 8%;
    }
}

  /* Regole Responsive Header Tablet */

@media  all and (max-width: 768px) {
    #dekstop-menu{
        display: none;

    }
    #mobile-menu{
        display: block;
    }
    /* Regole responsive prima sezione */
    
   .card.big{
    display: block;
    right: 75px;
   }
   .card.big div{
    width: 100%;
   }
   #apple{
    margin: 0% 20%;
   }
   .card.big img {
    top: 72px;
    right: 15px;
  }
  /*Regole responsive seconda sezione  */
  
  .full .planning{
    display: block;
   
}
.planning{
    width: 100%;
    margin: auto;
}
.left img , .left p , .left h3{
    max-width: 500px;
    }

    .right {
       
      }

      #arrow{
        margin-left: 145px;
      }

      .right img ,.right p , .right h4{
        max-width: 340px;
        }
  /*Regole Responsive terza Sezione  */


  /* Regole Responsive quarta sezione */
  
  .benefit {
    width: calc(100%/2 - 30px);
    background-color: #fff;
    min-height: 250px;
    border-radius: 25px;
    margin: 20px 20px 20px 0px;
    margin: 10px 51px;
    margin: 10px;
  }
}

  
   
/* Regole Responsive Smartphone */
@media screen and (max-width:480px) {
    .container{
        margin-left: 30px;
    }
    .block{
        display: block;
    }
    .card , .card.big{
        width: 100%;
        display: block;
    }
    .card h3 {
        color: #0084fd;
        margin: 30px 65px;
      }
      .card.big p {
        margin: 40px 70px;
      }
      .card.big img {
       top: 35px;
       right: 12px;
        padding: 0px 65px;
       }
       #apple{
        margin: 1% 23%;
       }
        /*Regole responsive seconda sezione  */

        .full .planning{
            display: block;
           
        }
        .planning{
            width: 100%;
            margin: auto;
        }
        .left img , .left p , .left h3{
            max-width: 100%;
            }
        
            .right {
                margin: 150px 0px 0px -26px;
                padding: 16px 0px;
                width: 260px;
              }
        
              .right img ,.right p , .right h4{
                max-width: 244px;
                }
                #arrow{
                    margin-left: 100px;
                }
              
    
      /*Regole Responsive terza Sezione  */
    
      .feedback{
        display: block;
        text-align: center;
    }
    /* Regole Responsive quarta sezione */
    .benefits{
        display: block;
    }
    .benefit {
        
        width: 100%;
        margin: auto;
      }
      .feedback img{
        margin-left: 0px;
      }

    /* Responsive quinta sezione */
    .about{
        display: block;
        text-align: center;
    }
    #male img {
        max-width: 40%;
        
      }
    #intext {
      
        text-align: initial;
      }

      /* Regole Responsive footer */
    
      #credit{
        width: 93%;
      }

}

